.tab-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.tab-item.active {
    background: rgba(171,255,143,0.6);
}

.tab-item .tab-name {
}   

.tab-item:hover {
    background: rgba(190, 248, 171, 0.6);
}

.tab-item .icon {
    border-radius: 50%;
    font-size: 15px;
    margin: auto auto auto 5px;
}