.postit {
    display: block;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    position: relative;
}

.postit-header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.1);
    cursor: move;
}

.postit-header p {
    margin: 0;
}

.postit .closeBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: #333;
}

.postit .expansionBtn {
    cursor: pointer;
}

.postit-content {
    display: block;
    margin: 0 0 0 auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.postit-content.collapsed {
    height: 0px;
    padding: 0 10px;
}

.postit .context-icon {
    display: none;
}

.postit.active .context-icon {
    display: block;
}